<footer class="footer mt-auto py-3" style="background-color: rgba(0,0,0,0.8);">
    			
<div class="ast-small-footer footer-sml-layout-1" style="color: white; margin-bottom: 10px;">
	<div class="ast-footer-overlay">
		<div class="ast-container">
			<div  class="container foter">
									<div class="ast-small-footer-section ast-small-footer-section-1" style="margin-bottom: 10px;">
						Contact: (+91) number | emailid@gmail.com					</div>
                    
                        <div class="ast-small-footer-section ast-small-footer-section-1" style="margin-bottom: 10px;">
                            <br> </div>
				
									<div class="ast-small-footer-section ast-small-footer-section-2" style="margin-bottom: 10px;">
						Copyright © 2021  website name, IIT Kharagpur				</div>
                        <div class="ast-small-footer-section ast-small-footer-section-1" style="margin-bottom: 10px;">
                            <br> </div>
				
			</div><!-- .ast-row .ast-small-footer-wrap -->
		</div><!-- .ast-container -->
	</div><!-- .ast-footer-overlay -->
</div><!-- .ast-small-footer-->

</footer>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>