<%- include("header") -%>

    <main class="main">

        <div class="intro">
            <div class="head">
                <h1>Lorem Ipsum</h1>
            </div>
            <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">
            <br><br>
            <div class="body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam expedita reiciendis provident,
                    quod numquam illo repellat quasi esse in laudantium, labore delectus quo eius. Vel quo eos totam
                    doloremque excepturi, alias error quam dignissimos eveniet mollitia distinctio pariatur voluptatibus
                    accusamus illum soluta quibusdam ducimus libero saepe temporibus officia, qui minima!</p>
            </div>

            <div class="head">
                <h1>Profiles</h1>
            </div>
            <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">
        </div>
        <div class="container">
            <!-- <div class="row"> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/sde">
                <div class="card">
                    <img src="/images/coding.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="layer">
                            <h1> SDE </h1>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/quant">
                <div class="card">
                    <!-- <img src="mainbg.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="layer">
                            <h1> Quant </h1>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/analytics">
                <div class="card">
                    <!-- <img src="mainbg.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="layer">
                            <h1> Analytics </h1>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/finance">
                <div class="card">
                    <!-- <img src="mainbg.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="layer">
                            <h1> Finance </h1>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/consulting">
                <div class="card">
                    <!-- <img src="mainbg.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="layer">
                            <h1> Consulting </h1>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/core">
                <div class="card">
                    <!-- <img src="mainbg.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="layer">
                            <h1> Core </h1>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- </div> -->
        </div>

        <div class="head">
            <h1>Curriculam Vitae</h1>
        </div>
        <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">

        <div class="container" style="margin-bottom: 0px;">
            <!-- <div class="row"> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/sde">
                <div class="card">

                    <div class="card-body">
                        <div class="layer">
                            <h1 style="font-size: 2rem;"> SDE CV </h1>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/quant">
                <div class="card">
                    <!-- <img src="mainbg.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="layer">
                            <h1 style="font-size: 2rem;"> Analytics CV </h1>
                        </div>
                    </div>
                </div>
            </a>
            <!-- </div> -->
            <!-- <div class="col-sm"> -->
            <a href="/profile/analytics">
                <div class="card">
                    <!-- <img src="mainbg.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="layer">
                            <h1 style="font-size: 2rem;"> Finance CV </h1>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pdff" style="display: flex; justify-content: center; margin-bottom: 5%;"><a href="" class="btn" style="padding: 10px 15px; font-size: 1.1rem; font-weight: 400; background-color: #FBC403;"> <span>View More</span> </a></div>

        <div class="head">
            <h1>Important links</h1>
        </div>
        <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">

        <div class="containerr">
            <a href="http://www.cdc.iitkgp.ac.in/p/soft-computing-resources">
                <div class="cardd">
                        <h2> Soft skills</h2>
                </div>
            </a>
            <a href="http://www.cdc.iitkgp.ac.in/">
                <div class="cardd">
                        <h2> CDC Website</h2>
                </div>
            </a>
            <a href="https://awaaziitkgp.com/category/intern-placement/">
                <div class="cardd">
                        <h2> Statistics</h2>
                </div>
            </a>
            <a href="https://cdcprep.glideapp.io/">
                <div class="cardd">
                        <h2> CDC Prep App</h2>
                </div>
            </a>
            <a href="https://metakgp.github.io/">
                <div class="cardd">
                        <h2> metakgp</h2>
                </div>
            </a>

        </div>

        <hr style="height: 2px; color: #FBC403; width: 40%; margin: auto; border: none;">




    </main>
    <%- include("footer") -%>