<%- include("header") -%>

    <main class="main">

        <div class="intro">
            <div class="head">
                <h1>Vision</h1>
            </div>
            <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">
            <br>
            <div class="body">
                <p>Hoping to create a comprehensive repository from seniors and alums for everything ranging from FT,
                    CDC, off-campus opportunities and projects under professor. Starting with CDC Internship, we have
                    covered the selection procedure and the internship experience of seniors who interned during the
                    summers of 2021. In addition, to ease the process of making CV, we have added CVs of a number of
                    seniors from different profiles. Also, we will be adding questions from the current session of CDC
                    Internship drive.</p>
            </div>
            <br>
            <div class="head">
                <h1>Profiles</h1>

            </div>
            <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">
        </div>
        <div class="container">
            <a href="/profile/sde">
                <div class="card">
                    <div class="card-body">
                        <div class="layer layerrr">
                            <center>
                                <img src="/images/coding.png" style="height: 128px; margin-left: 0%;">
                                <h1 style="margin-left: 0;"> SDE </h1>

                                <p class="card-text">Designing, developing and testing a system or application according
                                    to the users' specifications. </p>
                            </center>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/profile/quant">
                <div class="card">
                    <div class="card-body">
                        <div class="layer layerrr">
                            <center>
                                <img src="/images/connection.png" style="height: 128px; margin-left: 0%;">
                                <h1 style="margin-left: 0%;"> Quant </h1>
                                <p class="card-text">A quantitative analyst applies mathematical and statistical methods
                                    to financial and risk management problems.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/profile/analytics">
                <div class="card">
                    <div class="card-body">
                        <div class="layer layerrr">
                            <center>
                                <img src="/images/ai.png" style="height: 128px; margin-left: 0%;">
                                <h1 style="margin-left:0%;"> Analytics </h1>
                                <p class="card-text">Using statistical tools and algorithms to identify, analyze, and
                                    interpret patterns and trends in complex data sets.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/profile/finance">
                <div class="card">
                    <div class="card-body">
                        <div class="layer layerrr">
                            <center>
                                <img src="/images/finance.png" style="height: 128px; margin-left: 0%;">
                                <h1 style="margin-left: 0%;"> Finance </h1>
                                <p class="card-text">Finance profile mainly focuses on improve profitability and analyze
                                    markets for business opportunities.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/profile/consulting">
                <div class="card">
                    <div class="card-body">
                        <div class="layer layerrr">
                            <center>
                                <img src="/images/consultation.png" style="height: 128px; margin-left: 0%;">
                                <h1 style="margin-left: 0%; font-size: 1.8rem; font-weight: 700;"> Consulting & FMCG
                                </h1>
                                <p class="card-text"> Management consultants work to provide solutions to the client's
                                    changing business needs.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/profile/core">
                <div class="card">
                    <div class="card-body">
                        <div class="layer layerrr">
                            <center>
                                <img src="/images/engineering.png" style="height: 128px; margin-left: 0%;">
                                <h1 style="margin-left: 0%;"> Core </h1>
                                <p class="card-text">The profile requires specialization in the particular field and are
                                    highly valued for their level of expertise and professionalism.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="head">
            <h1>Curriculam Vitae</h1>
        </div>
        <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">

        <div class="container" style="margin-bottom: 0px;">
            <a href="/pdf/sde.pdf" target="_blank">
                <div class="card" style="height: 200px;">
                    <div class="card-body cv">
                        <img src="/images/cv.png" alt="">
                        <div class="layerrr">
                            <h1 style="font-size: 2rem; margin-bottom: 0%;"> SDE CV </h1>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/pdf/analytics.pdf" target="_blank">
                <div class="card" style="height: 200px;"">
                <div class=" card-body cv">
                    <img src="/images/cv1.png" alt="">
                    <div class="layerrr">
                        <h1 style="font-size: 2rem; margin-bottom: 0%;"> Analytics CV </h1>
                    </div>
                </div>
        </div>
        </a>
        <a href="/pdf/finance.pdf" target="_blank">
            <div class="card" style="height: 200px;">
                <div class="card-body cv">
                    <img src="/images/cv2.png" alt="">
                    <div class="layerrr">
                        <h1 style="font-size: 2rem; margin-bottom: 0%; margin-left: 0%;"> Finance CV </h1>
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="pdff" style="display: flex; justify-content: center; margin-bottom: 5%;"><a
                href="https://drive.google.com/drive/folders/1YHfzmtJKWW77xAeKcYoNYvMH5AaCzZvH?usp=sharing"
                target="_blank" class="btn"
                style="padding: 10px 15px; font-size: 1.1rem; font-weight: 400; background-color: #FBC403;"> <span>View
                    More</span> </a></div>
        <br>
        <div class="head">
            <h1>Important links</h1>
        </div>
        <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">
        <div class="containerr">
            <a href="http://www.cdc.iitkgp.ac.in/ckfinder/userfiles/files/internship%20companies%202020-21.pdf "
                target="_blank">
                <div class="cardd">
                    <h2>Company 2020</h2>
                </div>
            </a>
            <a href="https://awaaziitkgp.com/category/intern-placement/" target="_blank">
                <div class="cardd">
                    <h2>Stats</h2>
                </div>
            </a>
            <a href="https://drive.google.com/drive/folders/1QJCTEP5vmTAxXIB3JRodfjTXrjb9Pd3n" target="_blank">
                <div class="cardd">
                    <h2>Internpedia</h2>
                </div>
            </a>
            <a href="http://www.cdc.iitkgp.ac.in/p/soft-computing-resources" target="_blank">
                <div class="cardd">
                    <h2>Soft Skills</h2>
                </div>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLwy30RnD6eq-pf6T5S8eKHLkVc0qKRiHm " target="_blank">
                <div class="cardd">
                    <h2>Bootcamp</h2>
                </div>
            </a>
        </div>
        <div class="head">
            <h1>About us</h1>
        </div>
        <hr style="height: 2px; color: #FBC403; width: 30%; margin: auto; border: none;">
        <div class="container" id="about">

            <div class="card"
                style="min-width: 15rem; background-color:#00012c ;  background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));border: 0px; border: none;">
                <div class="carddd-body" style="margin-top: 4%; border: none;">
                    <div class="layer layerrr" style="color: white; border: none;">
                        <center>
                            <img src="/images/abhisht.jpg"
                                style="height: 128px; margin-left: 0%; border-radius: 60px; border-color: #FBC403; border: none;">
                            <a href="https://www.facebook.com/abhisht.bose.1/" target="_blank">
                                <h3 style="margin-left: 0; margin-top: 4%;">Abhisht Bose </h3>
                            </a>

                            <h4 class="clg">IIT Kharagpur</h4>
                            <h4>19EC30002</h4>
                        </center>
                    </div>
                </div>
            </div>
            <div class="card"
                style="min-width: 15rem; background-color:#00012c ;  background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));border: 0px; ">
                <div class="carddd-body" style="margin-top: 4%;">
                    <div class="layer layerrr" style="color: white;">
                        <center>
                            <img src="/images/Shreyansh.jpeg"
                                style="height: 128px; margin-left: 0%; border-radius: 60px; border-color: #FBC403; border: 10px;">
                            <a href="https://www.facebook.com/shreyansh.shikhar.96" target="_blank">
                                <h3 style="margin-left: 0; margin-top: 4%;">Shreyansh Shikhar </h3>
                            </a>
                            <h4 class="clg">IIT Kharagpur</h4>
                            <h4>19MA20064</h4>

                        </center>
                    </div>
                </div>
            </div>
            <div class="card"
                style="min-width: 15rem; background-color:#00012c ;  background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));border: 0px; ">
                <div class="carddd-body" style="margin-top: 4%;">
                    <div class="layer layerrr" style="color: white;">
                        <center>
                            <img src="/images/subhajit.jpeg"
                                style="height: 128px; margin-left: 0%; border-radius: 60px; border-color: #FBC403; border: 0px;">
                            <a href="https://www.facebook.com/subhajit.tiwary" target="_blank">
                                <h3 style="margin-left: 0; margin-top: 4%;">Subhajit Tiwary </h3>
                            </a>
                            <h4 class="clg">IIT Kharagpur</h4>
                            <h4>19MT30022</h4>
                        </center>
                    </div>
                </div>
            </div>
            <div class="card"
                style="min-width: 15rem; background-color:#00012c ;  background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));border: 0px; ">
                <div class="carddd-body" style="margin-top: 4%;">
                    <div class="layer layerrr" style="color: white;">
                        <center>
                            <img src="/images/saurabh1.jpeg"
                                style="height: 128px; margin-left: 0%; border-radius: 60px; border-color: #FBC403; border: 0px;">
                            <a href="https://www.facebook.com/saurabh.kulkarni.01" target="_blank">
                                <h3 style="margin-left: 0; margin-top: 4%;">Saurabh Kulkarni </h3>
                            </a>

                            <h4 class="clg">IIT Kharagpur</h4>
                            <h4>19ME10059</h4>
                        </center>
                    </div>
                </div>
            </div>

        </div>
        <hr style="height: 2px; color: #FBC403; width: 40%; margin: auto; border: none;">
    </main>
    <%- include("footer") -%>